<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form [formGroup]="user" #formData="ngForm" (ngSubmit)="onSubmit(formData.value)">
							<input type="text" placeholder="Name" formControlName="name" />

			<div *ngIf="!user.controls['name'].valid && user.controls['name'].touched">Invalid name</div>	

						<input type="text" placeholder="Mobile" formControlName="mobile" />

			<div *ngIf="!user.controls['mobile'].valid && user.controls['mobile'].touched">Invalid mobile</div>

					<input type="text" placeholder="Emailid" formControlName="emailid" />

			<div *ngIf="!user.controls['emailid'].valid && user.controls['emailid'].touched">Invalid emailid</div>

					<input type="text" placeholder="Password" formControlName="pass" />

			<div *ngIf="!user.controls['pass'].valid && user.controls['pass'].touched">Invalid password</div>

							<button [disabled]="!user.valid" type="submit">Register</button>
						</form>
					</div><!--/login form-->
				</div>
				
			</div>
		</div>
	</section><!--/form-->